.dashboard {
	font-size: bold;
	font-size: 30px;
	background-color: grey;
	border-radius: 10%;
}

.col_border {
	border-style: solid;
	text-align: center;
}
.order {
	height: auto;
	width: 70%;
	margin-top: 50px;
	margin-left: 20px;
	background-color: #F8F8F8;
}

.date_time {
 margin-top: 10px;
 background-color: #F8F8F8;
}