// Place all the styles related to the Movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-container {
	display: flex;
	text-decoratiion: none;
	background-color: #E8E8E8;
	align-items: center;
  	justify-content: center;
}

.movies {
	//display: flex;
  	align-items: center;
  	justify-content: center;
  	font-weight: bold;
}